{% for domain in dkim_domains %}
{%   if opendkim_one_key_per_domain %}
{{ dkim_selector }}._domainkey.{{ domain }} {{ domain }}:{{ dkim_selector }}:/etc/opendkim/keys/{{ domain }}/{{ dkim_selector }}.private
{%   else %}
{{ dkim_selector }}._domainkey.{{ domain }} {{ domain }}:{{ dkim_selector }}:/etc/opendkim/keys/{{ dkim_selector }}.private
{%   endif %}
{% endfor %}
